<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <% include partials/header %>
  <body>
    <h1>venue.Me</h1>
    <p>An easy way to share your venue experience with friends</p>
  </body>
</html>
